# Ignore specific directories and their contents
.ipynb_checkpoints/
xeno_data/
wav2_model_data/
saved_data/
__pychache__/
Retrieval_test/
wav_model_data/
done/


# Ignore specific files
# config.ini
ontology.pickle