# Ignore specific directories and their contents
.ipynb_checkpoints/
trimmed_xeno_data/
xeno_data/
_xeno_data/
wav2_model_data/
saved_data/
__pycache__/
__pycache__/my_functions.cpython-37.pyc
Retrieval_test/
wav_model_data/
test/


# Ignore specific files
# config.ini
__pycache__/**.pyc
ontology.pickle
01_download_mp3 copy**.ipynb
03**.ipynb