# Ignore specific directories and their contents
.ipynb_checkpoints/
xeno_data/
wav2_model_data/
saved_data/
__pycache__/
Retrieval_test/
wav_model_data/
test/


# Ignore specific files
# config.ini
ontology.pickle
02_1.ipynb
02_2.ipynb
02_3.ipynb
02_4.ipynb
02_5.ipynb
02_6.ipynb
02_7.ipynb
02_8.ipynb
02_9.ipynb
